.row 
  .small-12.centered.columns
    %h3#data-formats Supported Data Sources For Hosted Embeds

    %p 
      The 
      = link_to 'jQuery.EpochChart.js', github_url
      library itself can use data from any source, as long as it's properly formatted.

    %p However, if you want this app to build a hosted embed for you, you'll need to supply data from one of two sources:

    %ol
      %li 
        Analytics data from:
        %ul
          %li Keen.io
          %li 
            %em 
              Other services available by 
              = link_to 'request.', twitter_url
      %li 
        A JSON endpoint, serving raw data in the 
        = link_to "expected format.", howto_url(anchor: 'data-from-json')
    
    %h4#data-from-keen Using your Analytics Data in a Hosted Embed:

    %h6 From Keen.io:
    %ol
      %li
        Paste the 
        = link_to "Series ", 'https://keen.io/docs/data-analysis/series/'
        or 
        = link_to "Saved Query", 'https://keen.io/docs/data-analysis/saved-queries/#get-the-results-of-a-saved-query'
        url from your Keen.io account that returns the data you'd like to use. 
      %li
        Be sure to include your 
        = link_to "read_key", 'https://keen.io/docs/data-analysis/authentication/#query-string-param'
        so we can authenticate.

    %h6 From other services:

    %p Ideally, we'd pull data from other analytics services, such as Google Analytics or Mixpanel. Since I don't use these services in my own apps, I have yet to implement them. 

    %p 
      If you'd like to be able to pull from a 3rd party analytics service besides one already supported, tweet me a request at
      = link_to '@jfeldstein', twitter_url

    %h4#data-from-json Hosting your own JSON endpoint:

    %p Data for your hosted embed needs to be served up from your endpoint in the following format. Dates should be Unix timestamps.  

    %blockquote
      %pre
        :preserve
          [
            [date, value],
            [date, value],
            ...
          ]

    %p 
      For example:
      = link_to "(live example)", datum_url(1)

    %blockquote
      %pre
        :preserve
          [
            [1382827634000,132],
            [1382914034000,112],
            [1383000434000,130],
            [1383086834000,165],
            [1383173234000,140],
            [1383259634000,148],
            [1383346034000,134]
          ]


    %h3#event-data-formats Supported Event/Marker Sources for Hosted Embeds

    %p 
      The 
      = link_to 'jQuery.EpochChart.js', github_url
      library itself doesn't care where you store the data for your markers, only that they're properly formatted when passed in.

    %p However, if you want this app to provide a hosted embed, markers will need to be supplied from one of two sources: 

    %ol
      %li 
        Link your embed to an 
        = link_to "ical calendar export,", howto_url(anchor: 'events-from-ics')
        such as that from a Google Calendar. 
      %li 
        Link your embed to an endpoint serving a 
        = link_to "properly formatted JSON response.", howto_url(anchor: 'events-as-json')

    %h4#events-from-ics Managing Events Data from a Google Calendar

    %p Linking your embed to a Google Calendar's ical export lets you add or change the events shown on your chart by simply updating the calendar.

    %ol
      %li
        Create a new 
        = link_to 'google calendar.', 'https://www.google.com/calendar/'
      %li 
        Find it's private iCal export URL by clicking the green 
        = image_tag "icalbutton.png"
        button at the bottom of the settings page. 
      %li 
        Use the iCal url as the Marker Url for your new hosted embed.
      %li 
        Add markers to your chart by updating your calendar.

    %h4#events-as-json Hosting your own JSON endpoint of event/marker data

    %p To host your own events data, serve it up in the following format. Dates are Unix timestamps. 

    %blockquote
      %pre
        :preserve
          [
            [date, event_description],
            [date, event_description],
            ...
          ]

    %p 
      For example:
      = link_to "(live example)", calendar_data_url(1)

    %blockquote
      %pre
        :preserve
          [
            [1382914034000, "Implemented new onboarding funnel"],
            [1383000434000, "Hired new sales guy"]
          ]

